
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Almarai", sans-serif;

}
a{
  text-decoration: none;
}
body {
  background-color: #f6f6f6;
}
.navbar {
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.nav-mneu {
  height: 100%;
    width: 290px;
    max-height: 1024px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    /* padding: 32px; */
    /* padding-top: 25px; */
    padding-right: 0;
    padding-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    color: #ABABAB;
    align-items: center;
}

.nav-mneu h1 {
  color: #d01025;
  font-size: 40px;
  font-weight: 700;
  line-height: 44.64px;
}
.nav-mneu ul {
  display: flex;
  gap: 16px;
  flex-direction: column;
  list-style: none;
}
.nav-mneu ul li {
  display: flex;
  gap: 15px;
}
.nav-mneu ul li a {
  color: #000;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #d01025;
  margin-left: 200px;
}
.container div {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight:700
}

/* .search-container{
    gap: 3px !important;
    border-radius: 10px;
    height: 30px;
    background-color: #f7f7f7;

}
.search-container input{
    border: none;
    width: 20em;
    height: 30px;
    background-color: #f7f7f7;
    padding: 10px;
} */
.translate {
  gap: 5px !important;
}

.search {
  background: #fff;
  height: 45px;
  width: 350px;
  color: #a7b1ab;
  border:none;
  margin-bottom: 0px;
  /* -webkit-appearance: none;
  border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  -webkit-border-radius: 4px 0px 0px 4px; */
  display: inline-block;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  padding: 0px 0px 0px 50px;
  font-size: 12px;
  border-radius: 16px;
  background: #F6F6F6 url("../imgs/search-regular-24.png") 18px 15px no-repeat;
  background-size: 20px 20px;
}


.user-menu {
  margin: 20px;
}
.user-list {
  padding-left: 20px;
}

.user-list li {
  padding: 10px;
  padding-top: 0;
}

.user-list li:last-child {
  border-bottom: none;
}